<mat-toolbar color="primary">
  <span>Polling</span>
  <span class="example-spacer"></span>
  <div class="profile-icon" [matMenuTriggerFor]="beforeMenu">
    <mat-icon>account_circle</mat-icon>
  </div>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="routeToPage('polling')" *ngIf="routeHandler('/')">Polling</button>
    <button mat-menu-item *ngIf="clickHandler('login') && routeHandler('/login')" (click)="routeToPage('login')">Login</button>
    <button mat-menu-item *ngIf="clickHandler('logout')" (click)="routeToPage('logout')">Logout</button>
    <button mat-menu-item *ngIf="clickHandler('logout') && routeHandler('/admin')" (click)="routeToPage('admin')">Admin</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>